# Note: Use ssh for repos you plan on pushing updates to
[submodule "src/examples"]
	path = src/examples
	url = https://github.com/ros2/examples.git
	branch = humble
[submodule "src/blink1_ros2"]
	path = src/blink1_ros2
	url = git@github.com:digitalhabitat/blink1_ros2.git
	branch = humble-dev
[submodule "src2/blink1-tool"]
	path = src2/blink1-tool
	url = https://github.com/todbot/blink1-tool.git
	branch = main
[submodule "src/emlid_reach_ros2"]
	path = src/emlid_reach_ros2
	url = git@github.com:digitalhabitat/emlid_reach_ros2.git
	branch = humble
[submodule "src/serial-ros2"]
	path = src/serial-ros2
	url = https://github.com/RoverRobotics-forks/serial-ros2.git
	branch = master
[submodule "src/nmea_msgs"]
	path = src/nmea_msgs
	url = https://github.com/ros-drivers/nmea_msgs.git
	branch = ros2
[submodule "src/roboclaw"]
	path = src/roboclaw
	url = https://github.com/ProjectLadon/roboclaw.git
	branch = master
